body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  padding: 2rem;
}

.loading *{
  opacity: .75;
}

.header{
  margin-block-start: 2rem;
  margin-block-end: 2.35rem;
  font-size: 2rem;
}

label{
  margin-inline-end: 1rem;
}

ul{
  cursor: default;
  padding-inline: 0;
}

li{
  display: flex;
  text-align: center;
}

li:hover{
  color: gray;
}

.form-row{
  margin: 5px auto;
  max-width: 400px;

  display: flex;
  justify-content: space-between;
}

select, input{
  box-sizing: border-box;
  height: 21.5px;
  width: 150px;
}

.pagination-container{
  margin: 3rem auto;
}

table, ul{
  width: 66vw;
  max-width: 600px;
  
  margin-block: 3rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  
  border-spacing: 0;
}

td{
  border-top: 1px solid gray;
}

td:nth-child(2), 
td:nth-child(3){
  min-width: 3rem;
}
