body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  padding: 2rem;
}

.loading * {
  opacity: 0.75;
}

label {
  margin-inline-end: 1rem;
}

.form-row {
  margin: 5px auto;
  max-width: 400px;

  display: flex;
  justify-content: space-between;
}

select,
input {
  box-sizing: border-box;
  height: 21.5px;
  width: 150px;
}

select {
  cursor: pointer;
}
